//colors

$color-white: #FFFFFF;
$color-black: #000000;

$color-grey-950:  #08070B;
$color-grey-900:  #14131B;
$color-grey-850:  #18171F;  
$color-grey-800:  #24232C; 
$color-grey-700:  #54535B;
$color-grey-600:  #817D92;
$color-grey-200:  #E6E5EA;

$color-green-200:  #A4FFAF;
$color-yellow-300: #F8CD65;
$color-orange-400: #FE7C58;
$color-red-500:    #F64A4A;

$color-gradient:  linear-gradient(90deg, #14131B 0%, #08071B 100%);

//Spacing

$spacing-100:    8px;
$spacing-200:    16px;
$spacing-300:    24px;
$spacing-400:    32px;
$spacing-700:    56px;
$spacing-1000:   80px;
$spacing-1300:   104px;
$spacing-1600:   128px;
$spacing-2000:   160px;
$spacing-2200:   176px;
$spacing-2300:   184px;